.road-tag1 {
    bottom: -6%;
    right: 25%;
}

.road-tag2 {
    bottom: 8%;
    right: 36%;
}

.road-tag3 {
    bottom: 8%;
    right: 50%;
}

.road-tag4 {
    bottom: 8%;
    right: 65%;
}

.road-tag5 {
    bottom: 13%;
    right: 79%;
}

.road-tag6 {
    bottom: 28%;
    right: 84%;
}

.road-tag7 {
    bottom: 43%;
    right: 71%;
}

.road-tag8 {
    bottom: 58%;
    right: 66%;
}

.road-tag9 {
    top: 6%;
    left: 11%;
}

.road-tag10 {
    top: -2%;
    left: 20%;
}